<launch>
  <!-- vim: set ft=xml noet : -->
  <!-- example launch script for PX4 based FCU's -->

  <!-- mavros args -->
  <arg name="fcu_url" default="/dev/ttyTHS1:921600" />
  <arg name="gcs_url" default="" />
  <arg name="tgt_system" default="1" />
  <arg name="tgt_component" default="50" />

  <include file="$(find mavros)/launch/node.launch">
	<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
	<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
  </include>

</launch>
